.ad-wizard {
    @include desktop {
        width: 67.2rem;
    }

    > div:first-child {
        @include mobile-or-tablet-screen {
            display: flex;
            align-items: center;
            column-gap: 1rem;
            padding: 0.8rem 2rem;
            background-color: #f2f3f4;

            > div {
                flex: 1;

                @include mobile-or-tablet-screen {
                    & .deriv-button {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .form-progress {
        background-color: #f2f3f4;
        margin-top: 2rem;

        &__step {
            width: 24rem;
        }

        &__steps {
            margin-bottom: 1.6rem;
        }
    }
}
