.buy-sell-table {
    & .table {
        @include mobile-or-tablet-screen {
            height: calc(100% - 26rem);
        }
        &__header {
            padding: 1.6rem;
            border-bottom: 1px solid #f2f3f4;
            grid-template-columns: 2fr 1.4fr 1.4fr 2.4fr 1.4fr;
        }

        &__content {
            overflow: auto;
            padding-bottom: 2rem;
        }
    }

    &__tabs {
        & .derivs-primary-tabs {
            height: 4rem;
            width: 18rem;
            margin: 2.4rem 0;
            border-radius: 0.6rem;
            padding: 0.5rem;
        }

        & .derivs-primary-tabs__btn--active {
            border-radius: 0.4rem;
            padding: 0.8rem 0.6rem;
        }
    }
}
