.loading-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem 0;
    width: 44rem;
    height: unset;
    border-radius: 8px;

    @include mobile-or-tablet-screen {
        max-width: 32rem;
    }
}
