.advertiser {
    position: absolute;
    top: 8rem;
    background-color: #fff;
    width: 95.2rem;

    @include mobile {
        top: 4rem;
        overflow: overlay;
        height: calc(100vh - 4rem);
        width: 100%;
    }
}
