.advertiser {
    position: absolute;
    top: 12rem;
    background-color: #fff;
    width: 95.2rem;

    @include mobile {
        top: 8rem;
        overflow: overlay;
        height: calc(100vh - 4rem);
        width: 100%;
    }

    & .page-return {
        @include mobile {
            padding: 0.5rem 1.6rem;
        }
    }
}
