.advertiser {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    width: 95.2rem;

    @include mobile-or-tablet-screen {
        top: 0;
        overflow: auto;
        height: calc(100% - 7.4rem);
        width: 100%;
    }

    &__return {
        @include mobile-or-tablet-screen {
            padding: 1rem 1.6rem;
        }
    }
}
