.block-user-count {
    &__tooltip {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        &:hover {
            background-color: transparent;
        }

        @include mobile-or-tablet-screen {
            padding: 0.8rem 0;
        }

        @include rtlDir {
            svg {
                transform: scaleX(-1);
            }
        }
    }

    &__button {
        padding: 0;
    }

    & .deriv-tooltip {
        padding: 0.8rem;

        @include mobile-or-tablet-screen {
            display: none;
        }
    }
}
