.block-user-count {
    & .deriv-tooltip-container {
        display: flex;
        align-items: center;
        gap: 0.1rem;
    }
    &__tooltip {
        padding: 0 0.8rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        &:hover {
            background-color: transparent;
        }

        @include mobile-or-tablet-screen {
            padding: 0.8rem 0;
        }
    }

    &__button {
        padding: 0;
    }
}
