.my-profile {
    display: flex;
    flex-direction: column;
    padding-top: 2.4rem;
    overflow-y: auto;
    max-height: calc(100vh - 19rem);
    min-height: calc(100vh - 19rem);

    @include mobile-or-tablet-screen {
        padding: 0;
        max-height: calc(100vh - 11rem);
        min-height: calc(100vh - 11rem);
    }

    &__tabs {
        margin: 2.4rem 0;
        border-radius: 0.6rem;
        padding: 0.5rem;
        width: 74rem;

        &-tab {
            border-radius: 0.4rem;

            & > span {
                font-size: 1.4rem;
            }
        }
    }
}
