.orders-table-row {
    padding: 1.6rem;
    @include desktop {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1.5fr 2fr 3fr 1.5fr 1.5fr 1.5fr;
        cursor: pointer;
        min-height: 7.3rem;
    }

    @include mobile-or-tablet-screen {
        display: flex;
        flex-direction: column;
    }

    &--inactive {
        grid-template-columns: 2fr 1fr 1.5fr 2fr 3fr 1.5fr 1.5fr 2fr;
        gap: 1rem;
    }

    &__timer {
        border: 1px solid #d6dadb;
    }

    &--unseen {
        background-color: #ff444f14;
        &:hover {
            background-color: #e6e9e9;
        }
    }

    &__timer-wrapper {
        display: flex;
        align-items: center;
        gap: 1.25rem;

        & .deriv-button {
            background-color: transparent;
        }
    }
}
