.sell-ad-payment-selection {
    &__card {
        display: inline-flex;
        flex-wrap: wrap;

        @include desktop {
            & .payment-method-card--medium {
                height: 11.4rem;
                width: 16rem;
                min-height: unset;
            }
        }
        @include mobile-or-tablet-screen {
            flex-wrap: nowrap;
            width: calc(100vw - 3.2rem);
            overflow-x: auto;
            gap: 1rem;
        }
        & .payment-method-form {
            @include mobile-or-tablet-screen {
                background: #ffffff;
                z-index: 2;
                inset: 0;
                top: 0;

                &__form {
                    & .payment-methods-form-footer {
                        bottom: 7.4rem;
                    }
                }
            }
        }
    }
    &__button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin: 1.6rem 1.6rem 1.6rem 0;
        padding: 1.6rem;
        border: 1px dashed #d6dadb;
        min-height: 12.8rem;

        @include desktop {
            width: 16rem;
            height: 11.4rem;
            min-height: unset;
        }

        @include mobile-or-tablet-screen {
            margin-right: 0;
            min-height: 10.6rem;
            padding: 0.9rem 1rem;
            min-width: 15.4rem;
        }
    }
}
