.preferred-countries-dropdown {
    & .search {
        & .deriv-input {
            &__container {
                & .deriv-input__left-content {
                    margin-left: -1rem;
                }
                & .deriv-input__field {
                    margin-left: 1.8rem;
                }
            }
        }
    }
    &__content {
        height: 37rem;
        overflow-y: auto;

        @include mobile-or-tablet-screen {
            height: unset;
            max-height: calc(100vh - 28rem);
        }

        &--no-footer {
            height: 44rem;
            @include mobile-or-tablet-screen {
                height: 100vh;
                max-height: unset;
            }
        }
    }
}
