.copy-ad-form {
    margin: 0 2.4rem;

    @include mobile-or-tablet-screen {
        margin: 0 1.6rem;
        margin-bottom: 1.6rem;
    }

    &__full-page-modal {
        position: fixed;
        top: 12rem;
        z-index: 2;
        height: calc(100% - 13rem);
        max-width: 60rem;

        & .mobile-wrapper__body {
            margin-top: 1.6rem;
            overflow: auto;
        }

        & .mobile-wrapper__footer {
            display: flex;
            gap: 0.8rem;
            justify-content: flex-end;
        }
    }
}
