.error-modal {
    width: 44rem;
    height: unset;
    border-radius: 8px;

    @include mobile-or-tablet-screen {
        max-width: 34rem;
    }

    &__body {
        padding: 2.4rem;

        @include mobile-or-tablet-screen {
            padding: 1.6rem;
        }
    }
}
