.advertiser-block-overlay {
    position: relative;
    margin-bottom: 3rem;

    &__wrapper {
        align-items: center;
        gap: 2rem;
        background: #fff;
        border: 2px solid #f2f3f4;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        position: absolute;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 2;

        @include mobile-or-tablet-screen {
            border: none;
            border-radius: unset;
            flex-flow: column;
        }

        &-text {
            margin: 2.5rem 0 0.8rem;
        }

        &-button {
            margin-top: 2rem;
        }
    }
}
