.adverts-table-row {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.4fr 1.4fr 2.4fr 1.4fr;
    padding: 1.6rem;
    align-items: center;

    @include mobile-or-tablet-screen {
        grid-template-columns: 2fr auto;
    }

    &--advertiser {
        grid-template-columns: repeat(4, 1fr);

        @include mobile-or-tablet-screen {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__chevron {
        position: absolute;
        right: 0;
        top: 0;

        @include rtlDir {
            transform: rotate(180deg);
        }
    }

    &__rating-count {
        margin-left: -2.5rem;
        @include desktop {
            margin-left: -0.5rem;
        }

        @include rtlDir {
            margin-left: 0.5rem;
            @include mobile-or-tablet-screen {
                margin-left: -2.5rem;
            }
        }
    }
}
