.adverts-table-row {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1.4fr 1.4fr 2.4fr 1.4fr;
    padding: 1.6rem;
    align-items: center;

    @include mobile-or-tablet-screen {
        grid-template-columns: 2fr auto;
    }

    &--advertiser {
        grid-template-columns: repeat(4, 1fr);

        @include mobile-or-tablet-screen {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
