.popover-dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 0.1rem 0.8rem;

    @include desktop {
        width: 4.2rem;
    }

    @include mobile-or-tablet-screen {
        margin-top: -1rem;
    }

    @include desktop {
        & .deriv-tooltip__trigger {
            display: flex;
            width: 100%;
            justify-content: center;

            &:hover {
                border-radius: 4px;
                background-color: #e6e9e9;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        border-radius: 0.4rem;
        width: 19.5rem;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.16);
        z-index: 999;
        top: 3.8rem;
        position: absolute;
        background: #fff;
        right: 1rem;

        &-item {
            padding: 1rem 1.6rem;
            height: inherit;
            justify-content: start;
            border-radius: unset;

            // TODO: remove this once hover styles can be removed from the button component
            &:hover {
                // stylelint-disable-next-line declaration-no-important
                background-color: #e6e9e9 !important;

                & span {
                    // stylelint-disable-next-line declaration-no-important
                    color: #333 !important;
                }
            }
        }
    }
}
