.orders-table {
    & .deriv-table {
        &__header {
            grid-template-columns: 1fr 1.5fr 2fr 3fr 1.5fr 1.5fr 1.5fr;
        }

        &__content {
            height: calc(100vh - 35rem) !important;

            @include mobile-or-tablet-screen {
                height: calc(100vh - 20rem) !important;
            }

            &__row {
                border-bottom: 1px solid #f2f3f4;
                padding: 0;
            }
        }
    }

    &--inactive {
        & .deriv-table__header {
            grid-template-columns: 2fr 1fr 1.5fr 2fr 3fr 1.5fr 1.5fr 2fr;
            gap: 1rem;
        }
    }
}
