.orders-table-header {
    margin: 2.4rem 0 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile-or-tablet-screen {
        margin: 1.6rem;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    &__tabs {
        & .derivs-primary-tabs {
            height: 4.4rem;
            border-radius: 0.6rem;
            padding: 0.5rem;

            &__btn {
                padding: 0.8rem 1.8rem;
                border-radius: 0.6rem;
                width: fit-content;
            }
        }
    }

    &__filters {
        display: flex;
        gap: 0.8rem;
        padding: 0.4rem 0;
        align-items: center;
    }
}
