.mobile-wrapper {
    @include mobile-or-tablet-screen {
        height: calc(100% - 8rem);
        width: 100%;
        border-radius: 0;
        display: grid;
        grid-template-rows: 6rem auto;
        background-color: #fff;

        &--fixed-footer {
            grid-template-rows: 6rem auto 8rem;
        }

        &--no-header {
            grid-template-rows: auto;
        }

        &--no-header-fixed-footer {
            grid-template-rows: auto 7rem;
        }

        &--no-footer {
            grid-template-rows: 6rem auto;
        }
    }

    &__body {
        overflow-y: auto;
    }

    &__header {
        align-items: center;
        padding: 2rem;
        border-bottom: 2px solid #f2f3f4;
        display: flex;
        gap: 2rem;

        &__return {
            @include rtlDir {
                transform: rotate(180deg);
            }
        }
    }

    &__footer {
        padding: 2rem;
        border-top: 2px solid #f2f3f4;
    }

    @include mobile {
        height: calc(100% - 7.5rem);
    }
}
