.my-ads-table {
    &__list {
        width: 100%;
        height: 100%;
        position: relative;
        & .table {
            &__header {
                grid-template-columns: repeat(2, 1.6fr) 1.8fr 1.9fr 3fr 1.9fr;
            }

            &__content {
                height: 100%;
            }
        }
    }
}
