.filter-modal {
    height: 56rem;
    width: 44rem;
    border-radius: 8px;

    @include mobile-or-tablet-screen {
        position: absolute;
        top: -10rem;
        z-index: 1;
        height: calc(100vh - 7.5rem);
        width: 100%;

        &--has-no-banner {
            top: -4rem;
        }
    }

    @include rtlDir {
        svg {
            transform: rotate(180deg);
        }
    }

    & .mobile-wrapper {
        &__header {
            gap: 0;

            span {
                margin: 0 auto;
            }
        }
    }
}
