.buy-sell-form {
    width: 45.6rem;
    height: unset;
    border-radius: 8px;

    @include mobile-or-tablet-screen {
        width: 100vw;
        height: 100vh;
        box-shadow: none;
    }

    & .deriv-modal__body {
        padding: 0;
    }

    &--is-buy {
        height: 64.9rem;
        & .deriv-modal__body {
            max-height: calc(100vh - 13rem);
            overflow: auto;
        }
        @include mobile-or-tablet-screen {
            height: unset;
            max-height: unset;
        }
    }

    &__full-page-modal {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        & .mobile-wrapper__body {
            overflow: overlay;
        }

        &--is-buy {
            top: -4rem;
        }

        & .payment-method-form {
            background: #fff;
            z-index: 1;
            inset: 0;

            &__form {
                & .payment-methods-form-footer {
                    bottom: 0;
                }
            }
        }
    }
}
