.guide-tooltip {
    &__icon {
        border-radius: 0.8rem;
        padding: 0.1rem;
        width: 3.2rem;
        height: 3.2rem;

        @include desktop {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 8.2rem;

            &:hover {
                cursor: pointer;
            }
        }

        @include mobile-or-tablet-screen {
            position: relative;
        }
    }
}
