.ad-rate-switch-modal {
    width: 44rem;
    height: fit-content;
    border-radius: 8px;

    @include mobile-or-tablet-screen {
        max-width: calc(100vw - 3.2rem);
    }

    &__body {
        padding: 2.4rem;

        @include mobile-or-tablet-screen {
            padding: 1.6rem;
        }
    }

    &__footer {
        gap: 1.6rem;
    }
}
