.ad-type-section {
    @include desktop {
        & .radio-group {
            margin-top: 0;
        }
    }
    @include mobile {
        padding: 0 1.6rem;
        overflow: auto;
        max-height: calc(100vh - 27rem);
    }
}
