.datepicker {
    display: flex;
    flex-direction: column;
    position: relative;
    caret-color: transparent;

    &__button {
        all: unset;
        cursor: pointer;

        &:disabled {
            filter: invert(92%) sepia(0%) saturate(112%) hue-rotate(253deg) brightness(106%) contrast(89%);
        }
    }

    &__container {
        position: absolute;
        display: inline-block;
        width: 28rem;
        z-index: 1;

        &--right {
            right: 0;
        }

        top: 4rem;

        @include mobile-or-tablet-screen {
            align-self: center;
            top: 5rem;
            left: 0;
        }

        .react-calendar {
            border-radius: 0.5rem;

            button {
                border-radius: 0.5rem;
            }

            &__navigation {
                border-bottom: 0.1rem solid #d6dadb;
                height: 5rem;
                padding: 1.6rem;
                margin-bottom: 0;

                &__arrow {
                    font-size: 2.4rem;
                    justify-content: center;
                    align-items: center;
                }

                &__label {
                    font-weight: bold;
                    font-size: 1.4rem;
                    margin-top: 0.5rem;
                    display: flex;
                    justify-content: center;
                }

                button {
                    min-width: 2.4rem;
                    padding: 0 0.6rem;
                    border-radius: 0.5rem;

                    &:enabled:hover,
                    &:enabled:focus,
                    &:disabled {
                        background-color: unset;
                    }
                }
            }

            &__viewContainer {
                padding: 0.8rem 2rem;
            }

            &__month-view {
                &__days,
                &__weekdays {
                    /* stylelint-disable-next-line declaration-no-important */
                    display: grid !important; // to overwrite flex property of calendar
                    grid-template-columns: repeat(7, 2.4rem);
                    grid-auto-rows: 2.4rem;
                    grid-gap: 1.2rem;
                    align-items: center;
                    justify-content: center;

                    &__day--neighboringMonth {
                        color: #757575;
                    }

                    &__day--weekend {
                        color: revert;
                    }

                    &__weekday {
                        font-size: 1.2rem;
                    }
                    abbr {
                        text-decoration: none;
                    }
                }

                &__weekdays {
                    margin-bottom: 1.2rem;
                }

                button {
                    min-width: 2.4rem;
                    padding: 0.6rem;
                    border-radius: 0.5rem;
                }
            }

            &__tile {
                font-size: 1.2rem;

                &--active,
                &--hasActive {
                    border-radius: 0.5rem;
                    background: #d6dadb;
                    color: unset;

                    &:enabled:hover,
                    &:enabled:focus {
                        background-color: #d6dadb;
                    }
                }

                &--active {
                    font-weight: bold;
                }

                &--now,
                &:disabled {
                    background-color: unset;
                }
            }
        }

        /* stylelint-disable-next-line selector-class-pattern */
        .react-calendar__month-view__days__day--weekend.react-calendar__month-view__days__day--neighboringMonth {
            color: #757575;
        }
    }
}
