.radio-group-filter-modal {
    border-radius: 8px;
    width: 32.8rem;
    height: fit-content;

    &__text {
        margin: 2.4rem 0;

        @include mobile-or-tablet-screen {
            margin: 1.6rem 0;
        }
    }

    .radio-group {
        &.sort-radiogroup {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin: unset;
        }
        .radio-group__item {
            &.sort-radiogroup {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                margin: unset;
                padding: 1.2rem 2.4rem;
                width: 100%;

                &:first-child {
                    border-bottom: 1px solid #d6dadb;
                }
            }
        }
    }
}
