.my-profile-counterparties-table {
    & .deriv-table__content {
        max-height: 22.4rem;

        @include mobile-or-tablet-screen {
            height: calc(100vh - 29.5rem);
            max-height: 100%;
        }

        &__row {
            border-bottom: 1px solid #f2f3f4;
        }
    }

    &__row {
        &:last-child {
            position: relative;
        }
        border-bottom: 1px solid #f2f3f4;
    }
}
