.my-profile-counterparties-table {
    @include mobile-or-tablet-screen {
        max-height: calc(100vh - 29.5rem);
    }

    &__row {
        &:last-child {
            position: relative;
        }
        border-bottom: 1px solid #f2f3f4;
    }
}
