.filter-modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;

    @include mobile-or-tablet-screen {
        position: relative;
        padding: 0;
        border: none;
    }
}
