.order-time-selection {
    margin: 1rem 0;

    & .deriv-dropdown {
        & .deriv-input__container {
            width: 100%;
        }
    }
}

@include mobile-or-tablet-screen {
    #react-tiny-popover-container {
        display: none;
    }
}
