.orders-chat-section {
    border-radius: 4px;
    border: 8px solid #f2f3f4;
    width: 44rem;

    @include mobile {
        width: unset;
        border: unset;
    }

    &__full-page {
        position: absolute;
        top: 5rem;
        left: 0;
        z-index: 1;
        height: calc(100vh - 6rem);

        & .mobile-wrapper {
            &__body {
                overflow: auto;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__footer {
                padding: 0;
            }
        }

        &--closed {
            height: calc(100vh - 2rem);

            & .mobile-wrapper {
                &__footer {
                    padding: 1.6rem;
                }
            }
        }
    }
}
