.guide {
    position: absolute;
    top: 12rem;
    background-color: #fff;
    width: 95.2rem;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        height: 75vh;
        overflow-y: auto;

        &-section {
            padding: 2.4rem;

            &:nth-child(2) {
                border: 1px solid #e6e9e9;
                border-radius: 0.8rem;

                .derivs-primary-tabs {
                    width: 18rem;
                    border-radius: 0.4rem;
                    padding: 0.8rem;

                    &__btn--active {
                        border-radius: 0.4rem;
                        padding: 0.8rem;
                    }
                }
            }

            &:nth-child(3) {
                background-color: #f2f3f4;
                border-radius: 0.8rem;

                .flex {
                    column-gap: 2.4rem;
                    margin-top: 2.4rem;
                }

                .guide-card {
                    background-color: #0e0e0e;
                    border-radius: 0.8rem;
                }
            }

            &:nth-child(4) {
                .flex {
                    gap: 2.4rem;
                    margin-top: 2.4rem;
                }

                .guide-card {
                    background-color: #f2f3f4;
                    border-radius: 0.8rem;
                }
            }

            &--tab {
                gap: 2.4rem;
            }

            .deriv-accordion__header {
                font-size: 1.4rem;
            }
        }
    }
}
