.guide {
    position: absolute;
    top: 1rem;
    background-color: #fff;
    width: 95.2rem;

    @include mobile-or-tablet-screen {
        top: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
        height: 75vh;
        overflow-y: auto;

        @include mobile-or-tablet-screen {
            padding: 1.6rem;
            height: 80vh;
        }

        &-section {
            &:nth-child(2) {
                border: 1px solid #e6e9e9;
                border-radius: 0.8rem;

                .derivs-primary-tabs {
                    width: 18rem;
                    border-radius: 0.4rem;
                    padding: 0.8rem;

                    &__btn--active {
                        border-radius: 0.4rem;
                        padding: 0.8rem;
                    }
                }
            }

            &:nth-child(3) {
                background-color: #f2f3f4;
                border-radius: 0.8rem;

                .guide-card {
                    background-color: #0e0e0e;
                    border-radius: 0.8rem;
                }
            }

            &:nth-child(4) {
                .guide-card {
                    background-color: #f2f3f4;
                    border-radius: 0.8rem;
                }
            }

            &--link {
                color: #ff444f;

                @include desktop {
                    cursor: pointer;
                }
            }

            &--tab {
                gap: 2.4rem;
            }

            .deriv-accordion {
                padding: 0 0 0.4rem;

                &__header {
                    font-size: 1.4rem;
                    padding: 2.4rem 2.4rem 0;

                    &--active {
                        background-color: #f2f3f4;
                        border-radius: 0.8rem 0.8rem 0 0;
                    }
                }

                &__content {
                    padding: 0 2.4rem 2.4rem;

                    &--active {
                        background-color: #f2f3f4;
                        border-radius: 0 0 0.8rem 0.8rem;
                    }
                }

                &__text {
                    ul {
                        list-style: disc;
                        margin: 0 2.4rem 1rem;

                        li {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }
}
