.buy-sell {
    height: 100%;

    &--not-verified {
        overflow-y: auto;
        height: calc(100% - 11rem);
    }

    & .buy-sell-table {
        & .table {
            @include mobile-or-tablet-screen {
                height: calc(100% - 26rem);
            }
        }
    }

    &--barred {
        & .buy-sell-table {
            & .table {
                @include mobile-or-tablet-screen {
                    height: calc(100% - 32rem);
                }
            }
        }

        & .mobile-wrapper {
            top: -10rem;

            @media (width <= 386px) {
                top: -11.5rem;
            }
        }
    }

    &--outside-hours {
        & .mobile-wrapper {
            top: -8.5rem;
        }
    }
}
