.buy-sell {
    height: 100%;
    & .buy-sell-table {
        & .table {
            @include mobile-or-tablet-screen {
                height: calc(100% - 26rem);
            }
        }
    }

    &--barred {
        & .buy-sell-table {
            & .table {
                @include mobile-or-tablet-screen {
                    height: calc(100% - 32rem);
                }
            }
        }

        & .mobile-wrapper {
            @media (max-width: 386px) {
                top: -11.5rem;
            }
            top: -10rem;
        }
    }

    &--outside-hours {
        & .mobile-wrapper {
            top: -8.5rem;
        }
    }
}
