.my-profile-counterparties-table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
        background: #e6e9e9;
    }

    &__nickname-wrapper {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;

        &--barred {
            cursor: not-allowed;
        }
    }
}
