.profile-balance {
    display: flex;
    justify-content: space-between;

    @include desktop {
        margin-left: 8rem;
        gap: 2.4rem;
    }

    @include mobile-or-tablet-screen {
        flex-direction: column;
        gap: 1.6rem;
    }

    &__amount {
        display: flex;
        flex-direction: column;

        & div {
            display: flex;
            align-items: center;
            gap: 0.4rem;
        }
    }

    &__label {
        display: block;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .progress-indicator {
            &__container {
                background-color: #999;
                height: 8px;
            }
            &__bar {
                background-color: #101213;
                height: 8px;
            }
        }

        @include desktop {
            padding-left: 4rem;
            border-left: 1px solid #f2f3f4;
            width: 50%;
        }
    }

    &__items {
        display: grid;
        grid-auto-flow: row;
        gap: 1.6rem;

        @include mobile-or-tablet-screen {
            grid-auto-flow: row;
            margin-bottom: 2.4rem;
        }
    }

    &__daily-limits {
        border-top: 1px solid #f2f3f4;
        padding-top: 1.1rem;
        display: flex;
        gap: 1.6rem;
    }

    &__item {
        display: flex;
        flex-direction: column;

        &--buy {
            color: #29823b;
        }

        &--sell {
            color: #dc2020;
        }

        &-limits {
            display: flex;
        }
    }
}
