@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 10px;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    position: relative;
    min-height: 100%;
    height: 100%;
}

.table__content {
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        display: unset;
        background-color: #d6dadb;
    }
}
