.available-balance-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    width: 44rem;
    padding: 2.4rem;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 32px 64px 0px rgba(14, 14, 14, 0.14);

    &__text {
        margin: 2.4rem 0 1.6rem;

        @include mobile-or-tablet-screen {
            margin: 1.6rem 0;
        }
    }

    &__list {
        list-style: disc;
        margin: 0 0 0.6rem 2rem;

        li {
            margin-bottom: 1rem;
        }
    }

    &__note {
        font-style: italic;
        margin: 1.6rem 0 2.4rem;
    }

    @include mobile-or-tablet-screen {
        padding: 1.6rem;
        width: 32.8rem;
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 0.8rem;
    }
}
