/**
 * Define Breakpoints here.
 */
$tablet-width: 768px;
$desktop-width: 1024px;
$min-desktop-width: 1280px;
$max-mobile-width: 600px;
$min-desktop-width: 1280px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$max-mobile-width + 1}) and (max-width: #{$min-desktop-width - 1}) {
        @content;
    }
}

@mixin mobile-or-tablet-screen {
    @media (max-width: #{$min-desktop-width - 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$min-desktop-width}) {
        @content;
    }
}

/*RTL Language Mixin*/

@mixin rtlDir() {
    html[dir='rtl'] & {
        @content;
    }
}
