/**
 * Define Breakpoints here.
 */
$tablet-width: 768px;
$desktop-width: 1024px;
$min-desktop-width: 1280px;
$max-mobile-width: 600px;
$min-desktop-width: 1280px;

@mixin mobile {
    @media (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$max-mobile-width + 1}) and (max-width: #{$min-desktop-width - 1}) {
        @content;
    }
}

@mixin mobile-or-tablet-screen {
    @media (max-width: #{$min-desktop-width - 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$min-desktop-width}) {
        @content;
    }
}

/* RTL Language Mixin */

@mixin rtlDir() {
    html[dir='rtl'] & {
        @content;
    }
}

@mixin default-modal {
    height: fit-content;
    width: 44rem;
    border-radius: 8px;

    @include mobile-or-tablet-screen {
        max-width: calc(100vw - 3.2rem);
    }
}

@mixin file-dropzone-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 16.8rem;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 0, 0);
    transition:
        transform 0.25s ease,
        opacity 0.15s linear;

    @include mobile-or-tablet-screen {
        max-width: 26rem;
    }
}
