//TODO: remove the override for width and error message hide for dropdown once fixed from @deriv-com/ui
.payment-method-form {
    max-width: 100%;
    min-width: 67.2rem;
    padding-bottom: 2.4rem;

    @include mobile-or-tablet-screen {
        width: 100%;
        min-width: 36rem;
        position: absolute;
        top: 0;
    }

    &__modal {
        width: 44rem;
        height: 56rem;
        padding-top: 0rem;
        border-radius: 8px;

        &__body {
            padding: 2.4rem;

            & .deriv-input__container {
                width: 100%;
            }
        }

        @include mobile-or-tablet-screen {
            padding: 1.6rem;
            max-width: calc(100vw - 3.2rem);
        }
    }

    &__button {
        display: inline-block;
        margin-left: 0.5rem;
        padding: 0;

        // TODO: remove this once hover styles can be removed from the button component
        &:hover {
            // stylelint-disable-next-line declaration-no-important
            background-color: transparent !important;

            & > span {
                // stylelint-disable-next-line declaration-no-important
                color: #ff444f !important;
            }
        }
    }
    .derivs-button__variant--ghost:hover:not(:disabled) {
        background: transparent;
        text-decoration: underline;
        text-decoration-color: #ec3f3f;
    }
    .deriv-input--field:not(:focus) {
        border: 1px solid #d6dadb;
    }
    .deriv-input__field:not(:placeholder-shown) ~ label {
        color: #333333;
    }
    .deriv-input__container {
        width: 100%;
    }
    .deriv-input {
        padding: 0.5 1.2rem;
    }
    .deriv-input,
    .deriv-input--field {
        width: 100%;
        font-size: 1.4rem;
    }
    .deriv-input__right-content {
        display: flex;
        align-items: center;

        & .deriv-dropdown__button {
            &--active {
                transform: none;
            }
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        @include mobile-or-tablet-screen {
            overflow: auto;
            height: calc(100vh - 17rem);
            padding-bottom: 8rem;
        }

        @include mobile {
            height: calc(100vh - 16rem);
        }
    }

    .deriv-input--right-content {
        display: flex;
        align-items: center;
        height: 100%;
        top: 0;
    }

    .textfield__message-container {
        padding: 0;
        height: 0;
    }

    &__icon--close {
        cursor: pointer;
        color: #ffffff;
        font-size: large;
        rect {
            fill: #999;
        }
    }

    &__field {
        color: #333333;
        &-wrapper {
            width: 100%;
            padding: 1rem 0;

            @include mobile-or-tablet-screen {
                padding: 1.4rem 1.6rem;
            }

            & .deriv-dropdown {
                & .deriv-dropdown__items {
                    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24);
                }
                & .deriv-input {
                    height: 4rem;
                    align-items: center;
                    &__helper-message {
                        display: none;
                    }
                }

                &__items--xs {
                    max-height: 20rem;
                }
            }
            & .deriv-input__right-content {
                display: flex;
                align-items: center;
                & .deriv-dropdown__button {
                    &--active {
                        transform: none;
                    }
                }
            }
        }
    }
    &__text {
        display: inline-block;
        line-height: 1.5;
        vertical-align: baseline;
    }
}
