.my-profile-counterparties-header {
    display: flex;
    gap: 1.6rem;
    margin: 2.4rem 0;

    & .deriv-dropdown__items {
        width: 20rem;
        margin-top: 0.8rem;
    }

    & .deriv-input {
        height: 4.2rem;

        &__container {
            width: 20rem;

            @include mobile-or-tablet-screen {
                width: 100%;
            }
        }

        &__right-content {
            display: flex;
            align-items: center;
        }

        &__left-content {
            display: flex;
            align-items: center;
        }
    }
    .search {
        max-width: 20rem;

        @include mobile-or-tablet-screen {
            max-width: 100%;
        }
    }

    @include mobile-or-tablet-screen {
        display: flex;
    }

    &__sort-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 1px solid #d6dadb;
        border-radius: 4px;
        padding: 0 1rem;
        height: 4rem;
    }
}
