.date-text-field {
    &__input {
        width: 100%;
        @include desktop {
            width: 14.8rem;
            cursor: pointer;
        }

        & .deriv-input {
            padding: 10px;
        }

        & .deriv-input--label-animation-disabled {
            &::placeholder {
                opacity: 0;
            }
        }

        &__field {
            @include desktop {
                height: 3.2rem;
            }
            display: flex;
            align-items: center;

            input {
                outline: none;
            }

            label {
                @include desktop {
                    padding-left: 2.5rem;
                }
                color: #333;
                visibility: visible;
                &:not(:placeholder-shown) {
                    visibility: visible;
                }
            }
        }
    }
}
