.business-hours-modal {
    @include default-modal;

    &__body {
        padding: 1.5rem 2.4rem;
        overflow: inherit;
    }

    &__full-page {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        z-index: 3;
        max-width: 100%;
        height: calc(100% - 7.5rem);

        & .mobile-wrapper {
            &__body {
                height: 100%;
            }

            &__header {
                padding: 1rem 1.6rem;
            }
        }
    }
}